extends layout

block content
  .container 
    .row
      .col-12
        .modal-body
             #myTabContent.tab-content
                #brand-manager.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='brand') 
                #Gamer.tab-pane.fade(role='tabpanel', aria-labelledby='Game')